html, body{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: scroll;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{cursor: pointer;}
h1{margin-top: 0;}
.header{
    position: relative;
    margin-bottom: 10px;
}
.header-logo h1{
    font-size: 44px;
    margin-top: 18px;
}

.header, .header .container-fluid{
    height: 80px;
}
.header .container-fluid{ background-color: #337AB7; color: #ffffff}

.main-body{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.footer{
    position: relative;
    height: 50px;
    text-align: center;
    color: #ffffff;
    background-color: #337AB7;
}
.footer p{
    position: relative;
    font-size: 16px;
    top: 17px;
}
.main-body-left{
    width: 15%;
    float: left;
}
.main-body-left li{
    position: relative;
}
.main-body-right{
    padding-left: 10px;
    margin-left: 10px;
    float: left;
    width: 83%;
    border-left: 1px #337ab7 solid;
}
.main-body-right h3,
.main-body-right h2,
.main-body-right h1{
    margin-top: 10px;
}
.header-logo{
    float: left;
}
.welcome-massage{//頭部歡迎語句
    float: right;
    position: absolute;
    right: 10px;
    bottom: 5px;
}